@font-face {
    font-family: Proxima;
    src: url("./Proxima-Nova-Light.otf") format("opentype");
}
@font-face {
    font-family: ProximaBold;
    src: url("./Proxima-Nova-Bold.otf") format("opentype");
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #434b5434;
}

.card {
  display:flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.card p {
  margin-top: 15px;
  color: #434b54bc;
}

.content {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Proxima', sans-serif;
}

.date {
  font-size: x-small;
  color: #434b5461;
  font-family: 'Proxima', sans-serif;
}

a {
  text-decoration: none;
}

.quantity {
  font-weight: bold;
  color: black;
}

.category {
  align-items: baseline;
  justify-content: space-around;
}

h1 {
  font-family: 'ProximaBold', sans-serif;
  margin: 10px;
}

.btn {
  background-color: #3778c2;
  color: white;
  padding: 5px;
  float: right;
  border: solid white;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.back {
  background-color: #3778c2;
  color: white;
  border: solid white;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 5px;
}
