* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  background-color: #3778c2;
}

.hamburger {
  cursor: pointer;
  padding-left: 5px;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.nav__link {
  position: fixed;
  width: 100%;
  top: 50px;
  left: 0;
  background-color: #3778c2;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-family: 'Proxima', sans-serif;
  color: white;
  font-size: larger;
  font-weight: bold;
}

.hide {
  display: none;
}